/* CSS Variables for Dark Cyber Theme */
:root {
    --neon-cyan: #00f2ff;
    --common-blue:#0077ff;
    --cyber-purple: #bc13fe;
    --dark-bg: #0d0d0d;
    --glass-bg: rgba(255, 255, 255, 0.1);
}
body {
    background-color: var(--dark-bg);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}